{% extends "linecommand/reset_base.html" %}

{% block title %}Forgot Password{% endblock title %}

{% block section %}
<div class="page-header">
  <h3>Forgot Password</h3>
</div>
<div class="row-fluid">
  <div class="span9 offset1 well well-small">
    <form class="form-horizontal" method="post" action="{% url 'password_reset' %}">
      {% csrf_token %}
      <p>Please enter your email address. 
        You will receive a link to create a new password via email.</p>
                    
      <input type="email" name="email" placeholder="Your e-mail"><br/>

      <button type="submit">Send new password</button>
    </form>
  </div>
</div>
{% endblock %}
