{% extends "linecommand/reset_base.html" %}

{% block title %}Setting New password{% endblock title %}

{% block section %}
<div class="page-header">
  <h3>Setting New Password</h3>
</div>

<div class="row-fluid">
  <div class="span9 offset1 well well-small">
    <form class="form-horizontal" action="" method="post">
      {% csrf_token %}
      {% if validlink %}
        <p>Please enter your new password twice. 
           So we can verify you typed it in correctly.</p>
        {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}    
    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p>The password reset link was invalid, 
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
    {% endif %}
            
    <button type="submit">Change my password</button>
</form>
{% endblock %}
