#loading-div-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.6);
    width: 100%;
    height: 100%;
}

#loading-div {
    width: 300px;
    height: 150px;
    /*background-color: #fff;*/
    /*border: 5px solid #1468b3;*/
    text-align: center;
    color: #202020;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url("/css/pie/PIE.htc"); /* HANDLES IE */
}
