/* Blue Theme */
table.tablesorter {
	font-family: arial;
	background-color: #cdcdcd;
	margin: 10px 0 15px;
	font-size: 11px;
	width: 100%;
	text-align: left;
	border-spacing: 0;
}
table.tablesorter,
table.tablesorter th,
table.tablesorter td {
	background-color: #e6eeee;
	border: #cdcdcd 1px solid;
}

table.tablesorter th {
	border-collapse: collapse;
	font-size: 12px;
	padding: 4px;
}
table.tablesorter .header,
table.tablesorter .tablesorter-header {
	/* black double arrow */
	/*background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);*/
	/* white double arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
	/* image */
	background-image: url(../images/black-bg.gif); 
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px 20px 4px 4px;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3d3d3d;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table.tablesorter th.headerSortUp,
table.tablesorter th.tablesorter-headerSortUp {
	background-color: #8dbdd8;
	/* black asc arrow */
	/*background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);*/
	/* white asc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
	/* image */
	background-image: url(../images/black-asc.gif); 
}
table.tablesorter th.headerSortDown,
table.tablesorter th.tablesorter-headerSortDown {
	background-color: #8dbdd8;
	/* black desc arrow */
	/*background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);*/
	/* white desc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
	/* image */
	background-image: url(../images/black-desc.gif); 
}

/* Zebra Widget - row alternating colors */
table.tablesorter tr.odd td {
	background-color: #f0f0ff;
}
table.tablesorter tr.even td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
table.tablesorter td.primary, table.tablesorter tr.odd td.primary {
	background-color: #c0c0ff;
}
table.tablesorter tr.even td.primary {
	background-color: #e8e8ff;
}

table.tablesorter td.secondary, table.tablesorter tr.odd td.secondary {
	background-color: #d6d6ff;
}
table.tablesorter tr.even td.secondary {
	background-color: #e8e8ff;
}

table.tablesorter td.tertiary, table.tablesorter tr.odd td.tertiary {
	background-color: #e5e5ff;
}
table.tablesorter tr.even td.tertiary {
	background-color: #f8f8ff;
}

/* filter widget */
table.tablesorter input.tablesorter-filter {
	width: 95%;
	height: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.tablesorter tr.tablesorter-filter,
table.tablesorter tr.tablesorter-filter td {
	text-align: center;
	background: #fff;
}
/* optional disabled input styling */ 
table.tablesorter input.tablesorter-filter.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* filter widget, added to style.css themes */ 
table.tablesorter thead tr.filters input { 
    width: 95%; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
} 
table.tablesorter thead tr.filters, table.tablesorter thead tr.filters td { 
    text-align: center; 
    background: #fff; 
} 
/* optional disabled input styling */ 
table.tablesorter thead tr.filters input.disabled { 
/*    opacity: 0.5; 
    filter: alpha(opacity=50);*/
    display: none;
}

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #e74c3c;
  color: #e6EEEE;
}

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td {
  background-color: #e43725;
}

.label-danger {
  background-color: #e74c3c;
}

.table > thead > tr > td.warn,
.table > tbody > tr > td.warn,
.table > tfoot > tr > td.warn,
.table > thead > tr > th.warn,
.table > tbody > tr > th.warn,
.table > tfoot > tr > th.warn,
.table > thead > tr.warn > td,
.table > tbody > tr.warn > td,
.table > tfoot > tr.warn > td,
.table > thead > tr.warn > th,
.table > tbody > tr.warn > th,
.table > tfoot > tr.warn > th {
  background-color: #2E66AD;
  color: #e6EEEE;
}

.table-hover > tbody > tr > td.warn:hover,
.table-hover > tbody > tr > th.warn:hover,
.table-hover > tbody > tr.warn:hover > td {
  background-color: #2E66AD;
}

.legend {
	display: inline-block;
	float: right;
}

.label-warn {
  background-color: #2E66AD;
}