{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Numbers Management</title>
    <link href="{% static 'linecommand/css/bootstrap-detail.min.css' %}" rel="stylesheet">
    <link href="{% static 'linecommand/css/bootstrap-detail.css' %}" rel="stylesheet">
    <link href="{% static 'linecommand/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'linecommand/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <style type="text/css">
    </style>
    {%comment%}
        <script type="text/javascript" src="{% static 'linecommand/js/jquery.js' %}"></script>
        {%endcomment%}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/bootstrap-dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/bootstrap-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.smooth-scroll.min.js' %}"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-146052-10']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block head %}{% endblock %}
</head>

<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="#" class="brand">Numbers Management</a>

            <div class="nav-collapse pull-right">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as {{ user }} <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="modal" href="#update_username">Change Username</a></li>
                            <li><a data-toggle="modal" href="#update_password">Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--./navbar-->

<div class="container">
    <div id="update_username" class="modal hide fade in" data-dismiss="modal" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h4>Change Username</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="{% url 'index' %}" method="post">{% csrf_token %}
                {% for field in change_user_form.visible_fields %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>

                        <div class="controls">{{ field }}</div>
                    </div>
                {% endfor %}
        </div>
        <div class="modal-footer">
            <input type="submit" name="update_username" value="Update" class="btn btn-success"/>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        </form>
    </div>
    <div id="update_password" class="modal hide fade in" data-dismiss="modal" style="display: none; ">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h4>Change Password</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" action="{% url 'index' %}" method="post">{% csrf_token %}
                {% for field in change_password_form.visible_fields %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>

                        <div class="controls">{{ field }}</div>
                        <div class="controls">{{ field.errors }}</div>
                    </div>
                {% endfor %}
        </div>
        <div class="modal-footer">
            <input type="submit" name="update_password" value="Update" class="btn btn-success"/>
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        </form>
    </div>

    {% comment %}
                 <header class="jumbotron" id="overview" style="margin-top:-45px;">
                        <div class="row">
                                <div class="span6">
                                        <h3>Hi! {{ client.user }}</h3>
                                </div>
                        </div>
                </header>
{% endcomment %}
    <div class="subnav" style="margin-bottom:50px;">
        {% block navbar %}{% endblock %}
    </div>
    {% block section %}{% endblock %}
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
    $(document).scroll(function () {
        // If has not activated (has no attribute "data-top"
        if (!$('.subnav').attr('data-top')) {
            // If already fixed, then do nothing
            if ($('.subnav').hasClass('subnav-fixed')) return;
            // Remember top position
            var offset = $('.subnav').offset()
            $('.subnav').attr('data-top', offset.top);
        }

        if ($('.subnav').attr('data-top') - $('.subnav').outerHeight() <= $(this).scrollTop())
            $('.subnav').addClass('subnav-fixed');
        else
            $('.subnav').removeClass('subnav-fixed');
    });
</script>
{% block scripting %}{% endblock %}
<script> window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s= d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set. _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8'); $.src='//v2.zopim.com/?1cLi2S9ua5DYodRFnAGWS5BugR0PQ6Pe';z.t=+new Date;$. type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script'); </script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
