{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Numbers Management</title>
    <link href="{% static 'linecommand/css/bootstrap-detail.min.css' %}" rel="stylesheet">
    <link href="{% static 'linecommand/css/bootstrap-detail.css' %}" rel="stylesheet">
    <link href="{% static 'linecommand/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'linecommand/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <style type="text/css">
    </style>
    {%comment%}
        <script type="text/javascript" src="{% static 'linecommand/js/jquery.js' %}"></script>
        {%endcomment%}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/bootstrap-dropdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/bootstrap-modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.smooth-scroll.min.js' %}"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-146052-10']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% block head %}{% endblock %}
</head>

<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="#" class="brand">Numbers Management</a>
        </div>
    </div>
</div>
<!--./navbar-->

<div class="container">
    {% block section %}{% endblock %}
</div>

{% block scripting %}{% endblock %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
