{% extends "linecommand/base2.html" %}
{% load static %}
{% load linecommand_extras %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'linecommand/css/tablesorter-bootstrap.css' %}">
{% endblock %}

{#{% block cdr %}#}
{#    <li class="active"><a href="#cdr">Call Reporting</a></li>#}
{#{% endblock %}#}

{% block history %}active{% endblock %}

{% block section %}
    <section id="cdr" style="margin-top:-25px;">
        <div class="page-header">
            <h3>Call Reporting</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1">
                {# <h4><strong>Numbers</strong></h4> #}
                {% if numbers %}
                    <div id="pager">
                        <form>
                            <img src="{% static 'linecommand/images/first.png' %}" class="first"/>
                            <img src="{% static 'linecommand/images/prev.png' %}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{% static 'linecommand/images/next.png' %}" class="next"/>
                            <img src="{% static 'linecommand/images/last.png' %}" class="last"/>
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="1000">All</option>
                            </select>
                        </form>
                    </div>
                    <table id="table_sort" class="table table-striped table-bordered table-condensed tablesorter">
                        <thead>
                        <TR>
                            <th width=200>Number</th>
                            <th WIDTH=200>Calls Count</th>
                            <th>&nbsp;</th>
                        </TR>
                        </thead>
                        <tbody>
                        {% for item in numbers %}
                            <tr>
                                <td>{{ item.number }}</td>
                                <td>{{ item.count }}</td>
                                <td><a href="{% if item.count|call_reports:0 %}
                                    {% url 'cdr_detail' client.id item.number %}
                                    {% else %}#{% endif %}">Details</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <i>No Record found</i>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripting %}
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.pager.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.widgets.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table_sort")
                    .tablesorter({
                        sortList: [[0,0]],
                        //headers: { 0: {sorter: false, filter: false}, 2: {sorter: false}},
                        widgets: ['saveSort', 'filter'],
                        widgetOptions: {
                            filter_cssFilter: 'tablesorter-filter',
                            filter_childRows: false,
                            filter_startsWith: false
                        }
                    })
                    .tablesorterPager({container: $("#pager")});
        });
    </script>
{% endblock %}
