{% extends "linecommand/base2.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'linecommand/css/page-load.css' %}" rel="stylesheet">
{% endblock %}
{% block head %}
    <script type="text/javascript">
        function FilterModels() {
            //$("#areacodes").empty();
            //$("#areacodes").append($('<option></option>').attr("value", '-1').text('Select areacodes'));
            $('#areacodes').prop('disabled', true);
            $.ajax({
                url: "/" + $("#states").val() + "/areacodes/",
                cache: false,
                success: function (html) {
                    $("#areacodes").html(html);
                    $('#areacodes').prop('disabled', false);
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loading-div-background").css({ opacity: 1.0 });
        });

        function ShowProgressAnimation() {
            $("#loading-div-background").show();
        }
    </script>
{% endblock %}


{% block buynums %}active{% endblock%}
{#    <li class="active"><a href="#buygeo">Generate Geo Numbers</a></li>#}
{#{% endblock %}#}

{% block section %}
    <section id="buygeo" style="margin-top:-25px;">
        <div class="page-header">
            <h3>Purchase Geo Numbers</h3>
        </div>
        {% if numbers_errors %}
            <div class="row-fluid">
                <div class="span4 offset1">
                    <div class="alert alert-error">
                    <ul>
                        {% for err in numbers_errors %}
                            <li>{{ err }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <h5><b>Buy Numbers for</b></h5>
                {% with buy=True template_name="linecommand/showprice.html" %}
                    {% include template_name %}
                {% endwith %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'client_geonumbers' client.id %}"
                      method="post">{% csrf_token %}
                    {% for field in geo_form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in geo_form.visible_fields %}
                        <div class="control-group{% if field.errors %} error{% endif %}">
                            <label class="control-label"><strong>{{ field.label }}</strong></label>

                            <div class="controls">
                                {{ field }}
                                <span id="{{ field.auto_id }}_err" class="help-inline">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary btn-small fa-input" type="submit" name="buy_geo"
                                   onclick="ShowProgressAnimation();" value="Submit"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
                <div id="loading-div-background">
                    <div id="loading-div" class="ui-corner-all">
                        <img src="{% static 'linecommand/images/bars.gif' %}" alt="Loading.."/>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripting %}
    <script type="text/javascript">
        $(document).ready(function () {
            FilterModels();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            //called when key is pressed in textbox
            $("#id_forward_data").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                var drp = $("#id_forward").val();
                if (drp === "FORWARD") {
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        $("#id_forward_data_err").html("Only Digits allowed for forward").show().fadeOut(1500);
                        return false;
                    }
                }
{#                else {#}
{#                    $(this).prop('type', 'email');#}
{#                    return true;#}
{#                }#}
            });
        });
    </script>
{% endblock %}
