{% extends "linecommand/base2.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'linecommand/css/tablesorter-bootstrap.css' %}">
{% endblock %}

{% block sms_management %}
    <li class="active"><a href="#sms_main">SMS Management</a></li>
{% endblock %}

{% block section %}
    <section id="sms_main" style="margin-top:-25px;">
        <div class="page-header">
            <h3>SMS Management</h3>
        </div>
{#        <div class="row-fluid">#}
{#            <div class="span9 offset1 well well-small" style="padding:0 0 0 20px;">#}
{#                <h5><strong>Current Balance</strong> &#36;{% if balance == None %}0.00{% else %}#}
{#                    {{ balance|floatformat:2 }}{% endif %}</h5>#}
{#                <h5>Numbers Associated are {{ numbers|length }}</h5>#}
{#                <h5><b>Buy Numbers for</b></h5>#}
{#                {% with buy=True template_name="linecommand/showprice.html" %}#}
{#                    {% include template_name %}#}
{#                {% endwith %}#}
{#            </div>#}
{#        </div>#}
        <div class="row-fluid">
            <div class="span9 offset1">
                {# <h4><strong>Numbers</strong></h4> #}
                {% if numbers %}
                    <div id="pager">
                        <form>
                            <img src="{% static 'linecommand/images/first.png' %}" class="first"/>
                            <img src="{% static 'linecommand/images/prev.png' %}" class="prev"/>
                            <input type="text" class="pagedisplay"/>
                            <img src="{% static 'linecommand/images/next.png' %}" class="next"/>
                            <img src="{% static 'linecommand/images/last.png' %}" class="last"/>
                            <select class="pagesize">
                                <option selected="selected" value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="1000">All</option>
                            </select>

                            <div class="legend">
                                Legend:
                                <span class="label label-danger">Expired</span>
                                <span class="label label-warn">Pending</span>
                            </div>
                        </form>
                    </div>
                    <form class="form-horizontal" action="{% url 'client_sms' client.id %}"
                          method="post">{% csrf_token %}
                        <table id="table_sort" class="table table-striped table-bordered table-condensed tablesorter">
                            <thead>
                            <TR>
                                <th><input type="checkbox" id="selectall"></th>
                                <th width=200>Date Purchased</th>
                                <th WIDTH=200>Number</th>
{#                                <th>Tier</th>#}
                                <th width="200">Date Expiry
                                <th width=200>Forward Type</th>
                                <th WIDTH=300>Forward Data</th>
                            </TR>
                            </thead>
                            <tbody>
                            {% for item in numbers %}
{#                                <tr{% if item.is_past %} class="danger" {% elif not item.is_geo_resolved %}#}
{#                                                         class="warn"{% endif %}>#}
                                <tr>
                                    <td><input type="checkbox" name="update_id" class="update_id" value="{{ item.id }}"
                                               style="vertical-align:top;"></td>
                                    <td>{{ item.date_purchased|date:"m/d/Y" }}</td>
                                    <td>{{ item.number }}</td>
{#                                    <td>{{ item.tier }}</td>#}
                                    <td>{{ item.date_expiry|date:"m/d/Y" }}</td>
                                    <td>{{ item.sms_type }}</td>
                                    <td>{{ item.sms_data }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
{#                        <div id="update" class="modal hide fade in" data-dismiss="modal" style="display: none; ">#}
{#                            <div class="modal-header">#}
{#                                <a class="close" data-dismiss="modal">x</a>#}
{#                                <h4>Update Numbers</h4>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{#                                {% for field in update_number_form.visible_fields %}#}
{#                                    <div class="control-group">#}
{#                                        <label class="control-label">{{ field.label }}</label>#}
{##}
{#                                        <div class="controls"> {{ field }}</div>#}
{#                                    </div>#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                            <div class="modal-footer">#}
{#                                <input type="submit" name="update_numbers" value="Update" class="btn btn-success"/>#}
{#                                <a href="#" class="btn" data-dismiss="modal">Close</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div id="renew" class="modal hide fade in" data-dismiss="modal" style="display: none; ">#}
{#                            <div class="modal-header">#}
{#                                <a class="close" data-dismiss="modal">x</a>#}
{#                                <h4>Renew Numbers</h4>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{#                                    {% for field in renew_number_form.visible_fields %}#}
{#                                        <div class="control-group">#}
{#                                            <label class="control-label">{{ field.label }}</label>#}
{##}
{#                                            <div class="controls"> {{ field }}</div>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                            </div>#}
{#                            <div class="modal-footer">#}
{#                                <input type="submit" name="renew_numbers" value="Renew" class="btn btn-success"/>#}
{#                                <a href="#" class="btn" data-dismiss="modal">Close</a>#}
{#                            </div>#}
{#                        </div>#}
                        <div id="sms" class="modal hide fade in" data-dismiss="modal" style="display: none; ">
                            <div class="modal-header">
                                <a class="close" data-dismiss="modal">x</a>
                                <h4>SMS</h4>
                            </div>
                            <div class="modal-body">
                                    {% for field in sms_info_form.visible_fields %}
                                        <div class="control-group">
                                            <label class="control-label">{{ field.label }}</label>

                                            <div class="controls"> {{ field }}</div>
                                        </div>
                                    {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <input type="submit" name="sms_update" value="Update" class="btn btn-success"/>
                                <a href="#" class="btn" data-dismiss="modal">Close</a>
                            </div>
                        </div>
{#                        <div id="export" class="modal hide fade in" data-dismiss="modal" style="display: none; ">#}
{#                            <div class="modal-header">#}
{#                                <a class="close" data-dismiss="modal">x</a>#}
{#                                <h4>Export Numbers</h4>#}
{#                            </div>#}
{#                            <div class="modal-body">#}
{#                                    {% for field in export_number_form.visible_fields %}#}
{#                                        <div class="control-group">#}
{#                                            <label class="control-label">{{ field.label }}</label>#}
{##}
{#                                            <div class="controls"> {{ field }}</div>#}
{#                                        </div>#}
{#                                    {% endfor %}#}
{#                            </div>#}
{#                            <div class="modal-footer">#}
{#                                <input type="submit" name="export_numbers" value="Export" class="btn btn-success"/>#}
{#                                <a href="#" class="btn" data-dismiss="modal">Close</a>#}
{#                            </div>#}
{#                        </div>#}
                    </form>
                    {% if numbers_errors %}
                        <div class="alert alert-error">
                        <ul>
                            {% for err in numbers_errors %}
                                <li>{{ err }}</li>
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
{#                    <a data-toggle="modal" href="#update" class="btn btn-primary btn-small">Change Forwarding#}
{#                        Information on Selected Numbers</a>#}
{#                    <a data-toggle="modal" href="#renew" class="btn btn-primary btn-small">Renew Numbers</a>#}
{#                    {% if client.id == 2160 %}#}
                    <a data-toggle="modal" href="#sms" class="btn btn-primary btn-small">Update SMS</a>
{#                    {% endif %}#}
{#                    <a data-toggle="modal" href="#export" class="btn btn-primary btn-small">Export Numbers</a>#}
                {% else %}
                    <i>There is no number associated yet.</i>
                    <a class="btn btn-primary btn-small" href="#buynumbers">Buy Numbers</a>
                {% endif %}
            </div>
        </div>
    </section>
{#    {% if not user == client.user %}#}
{#        <section id="addbalance" style="margin-top:-25px;">#}
{#            <div class="page-header">#}
{#                <h3>Add Balance</h3>#}
{#            </div>#}
{#            <div class="row-fluid">#}
{#                <div class="span9 offset1 well well-small">#}
{#                    <form class="form-horizontal" action="{% url 'client_main' client.id %}"#}
{#                          method="post">{% csrf_token %}#}
{#                        {% for field in balance_form.hidden_fields %}#}
{#                            {{ field }}#}
{#                        {% endfor %}#}
{#                        {% for field in balance_form.visible_fields %}#}
{#                            <div class="control-group{% if field.errors %} error{% endif %}">#}
{#                                <label class="control-label"><strong>{{ field.label }}</strong></label>#}
{##}
{#                                <div class="controls">#}
{#                                    {{ field }}#}
{#                                    <span class="help-inline">{{ field.errors }}</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                        <div class="control-group">#}
{#                            <div class="controls">#}
{#                                <input class="btn btn-primary btn-small fa-input" type="submit" name="add_balance"#}
{#                                       value="Deposit"/>#}
{#                                <input type="hidden" name="next" value="{{ next }}"/>#}
{#                            </div>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#    {% endif %}#}
{% endblock %}

{% block scripting %}
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.pager.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.widgets.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table_sort")
                    .tablesorter({
                        sortList: [[1,1]],
                        headers: { 0: {sorter: false, filter: false}, 2: {sorter: false}},
                        widgets: ['saveSort', 'filter'],
                        widgetOptions: {
                            filter_cssFilter: 'tablesorter-filter',
                            filter_childRows: false,
                            filter_startsWith: false
                        }
                    })
                    .tablesorterPager({container: $("#pager")});
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectall').click(function () {
                $('.update_id').prop('checked', isChecked('selectall'));
            });
        });
        function isChecked(checkboxId) {
            var id = '#' + checkboxId;
            return $(id).is(":checked");
        }
    </script>
{% endblock %}
