{% extends "linecommand/base2.html" %}

{#{% block referal_page %}#}
{#    <li class="active"><a href="#referal">Referal</a></li>#}
{#{% endblock %}#}

{% block management %}active{% endblock %}

{% block section %}
    <section id="referal">
        <div class="page-header">
            <h3>Referal URL</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small" style="padding:0 0 0 20px;">
                <h5>Please use the following URL as new referal sign up.</h5>
                <h5>http://beta.linecommand.com{% url 'referal_signup' uidb36 %}</h5>
            </div>
        </div>
    </section>
{% endblock %}