{% extends "linecommand/base2.html" %}

{% block navbar %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'client_main' client.id %}">Dashboard</a></li>
    {# <li><a href="#addbalance">Add Balance</a></li> #}
    <li><a href="{% url 'client_numbers' client.id %}">Buy Numbers</a></li>
    <li><a href="{% url 'client_create' client.id %}">Create Client</a></li>
    <li class="active"><a href="#">Edit Html</a></li>
  </ul>
{% endblock %}

{% block section %}
  <section id="editcode" style="margin-top:-25px;">
    <div class="page-header">
      <h3>Edit HTML Code</h3>
    </div>
    <div class="row-fluid">
      <div class="span9 offset1 well well-small">
        <form class="form-horizontal" action="{% url 'client_editCode' client.id %}" method="post">{% csrf_token %}
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}
          <div class="control-group">
            <div class="controls">
              <input class="btn btn-primary btn-small fa-input" type="submit" name="buy_numbers" value="Submit" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
