{% extends "linecommand/base2.html" %}

{% comment %}
{% block navbar %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'client_main' client.id %}">Dashboard</a></li>
    {# <li><a href="#addbalance">Add Balance</a></li> #}
    <li class="active"><a href="#buynumbers">Buy Numbers</a></li>
    <li><a href="{% url 'client_create' client.id %}">Create Client</a></li>
    <li><a href="{% url 'client_editCode' client.id %}">Edit HTML</a></li>
  </ul>
{% endblock %}
{% endcomment %}

{% block buynums %}active{% endblock %}
{#    <li class="active"><a href="#buynumbers">Generate Numbers</a></li>#}
{#{% endblock %}#}

{% block section %}
    <section id="buynumbers" style="margin-top:-25px;">
        <div class="page-header">
            <h3>Purchase Numbers</h3>
        </div>
        {% if numbers_errors %}
            <div class="row-fluid">
                <div class="span4 offset1">
                    <div class="alert alert-error">
                    <ul>
                        {% for err in numbers_errors %}
                            <li>{{ err }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <h5><b>Buy Numbers for</b></h5>
                {% with buy=True template_name="linecommand/showprice.html" %}
                    {% include template_name %}
                {% endwith %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'client_numbers' client.id %}"
                      method="post">{% csrf_token %}
                    {% for field in number_form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in number_form.visible_fields %}
                        <div class="control-group{% if field.errors %} error{% endif %}">
                            <label class="control-label"><strong>{{ field.label }}</strong></label>

                            <div class="controls">
                                {{ field }}
                                <span class="help-inline">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary btn-small fa-input" type="submit" name="buy_numbers"
                                   value="Submit"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
