{% extends "linecommand/base2.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'linecommand/css/tablesorter-bootstrap.css' %}">
{% endblock %}

{% comment %}
{% block navbar %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'client_main' client.id %}">Dashboard</a></li>
    {# <li><a href="#addbalance">Add Balance</a></li> #}
    <li><a href="{% url 'client_numbers' client.id %}">Buy Numbers</a></li>
    <li><a href="{% url 'client_create' client.id %}">Create Client</a></li>
    <li class="active"><a href="#history">Purchase History</a></li>
    <li><a href="{% url 'client_editCode' client.id %}">Edit HTML</a></li>
  </ul>
{% endblock %}
{% endcomment %}

{#{% block history %}#}
{#    <li class="active"><a href="#history">Purchase History</a></li>#}
{#{% endblock %}#}

{% block history %}active{% endblock %}

{% block section %}
    <section id="history" style="margin-top:-25px;">
    <div class="page-header">
        <h3>Purchase History</h3>
    </div>
    <div id="pager">
        <form>
            <img src="{% static 'linecommand/images/first.png' %}" class="first"/>
            <img src="{% static 'linecommand/images/prev.png' %}" class="prev"/>
            <input type="text" class="pagedisplay"/>
            <img src="{% static 'linecommand/images/next.png' %}" class="next"/>
            <img src="{% static 'linecommand/images/last.png' %}" class="last"/>
            <select class="pagesize">
                <option selected="selected" value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="1000">All</option>
            </select>
        </form>
    </div>
    <table id="table_sort" class="table table-striped table-bordered table-condensed tablesorter">
        <thead>
        <tr>
            <th width="20%">Date</th>
            <th width="20%">Amount</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for item in acc_history %}
            <tr>
                <td>{{ item.date_transaction|date:"m/d/Y H:i:s" }}</td>
                <td>{{ item.amount|floatformat:2 }} USD</td>
                <td>{{ item.transaction_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
{% endblock %}

{% block scripting %}
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.pager.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table_sort")
                    .tablesorter({sortList: [
                        [0, 1]
                    ], headers: { 1: {sorter: false}, 2: {sorter: false}}})
                    .tablesorterPager({container: $("#pager")});
        });
    </script>
{% endblock %}
