{% extends "linecommand/base2.html" %}

{% comment %}
{% block navbar %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'client_main' client.id %}">Dashboard</a></li>
    {# <li><a href="#addbalance">Add Balance</a></li> #}
    <li><a href="{% url 'client_numbers' client.id %}">Buy Numbers</a></li>
    <li class="active"><a href="#createclient">Create Client</a></li>
    <li><a href="{% url 'client_editCode' client.id %}">Edit HTML</a></li>
  </ul>
{% endblock %}
{% endcomment %}

{% block create %}
  <li class="active"><a href="#createclient">Create Client</a></li>
{% endblock %}

{% block section %}
  <section id="createclient" style="margin-top:-25px;">
    <div class="page-header">
      <h3>Create Client</h3>
    </div>
    {% if create_error %}
    <div class="row-fluid">
      <div class="span4 offset1">
        <div class="alert alert-dismissable alert-warning">
          {{ create_error }}
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row-fluid">
      <div class="span9 offset1 well well-small">
        <form class="form-horizontal" action="{% url 'client_create' client.id %}" method="post">{% csrf_token %}
          {% for field in client_form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in client_form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}
          <div class="control-group">
            <div class="controls">
              <input class="btn btn-primary btn-small fa-input" type="submit" onclick="this.disabled=true,this.form.submit();" name="create_client" 
value="Create" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
