{% extends "linecommand/base2.html" %}
{% load static %}
{% load linecommand_extras %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'linecommand/css/tablesorter-bootstrap.css' %}">
{% endblock %}

{% block fund_history %}
    <li class="active"><a href="#funding">Funding History</a></li>
{% endblock %}

{% block section %}
    <section id="funding" style="margin-top:-25px;">
        <div class="page-header">
            <h3>Funding History</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1">
                {# <h4><strong>Numbers</strong></h4> #}
                <div id="pager">
                    <form>
                        <img src="{% static 'linecommand/images/first.png' %}" class="first"/>
                        <img src="{% static 'linecommand/images/prev.png' %}" class="prev"/>
                        <input type="text" class="pagedisplay"/>
                        <img src="{% static 'linecommand/images/next.png' %}" class="next"/>
                        <img src="{% static 'linecommand/images/last.png' %}" class="last"/>
                        <select class="pagesize">
                            <option selected="selected" value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="1000">All</option>
                        </select>
                    </form>
                </div>
                <table id="table_sort" class="table table-striped table-bordered table-condensed tablesorter">
                    <thead>
                    <tr>
                        <th width="20%">Date</th>
                        <th width="10%">Amount</th>
                        <th width="10%">Type</th>
                        <th width="20%">Client</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in acc_history %}
                        <tr>
                            <td>{{ item.date_transaction|date:"m/d/Y H:i:s" }}</td>
                            <td>{{ item.amount|floatformat:2 }} USD</td>
                            <td>{{ item.trx_type|trx_convert }}</td>
                            <td>{{ item.client.user.email }}</td>
                            <td>{{ item.transaction_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripting %}
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.js' %}"></script>
    <script type="text/javascript" src="{% static 'linecommand/js/jquery.tablesorter.pager.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#table_sort")
                    .tablesorter({sortList: [
                        [0, 1]
                    ], headers: { 1: {sorter: false}, 3: {sorter: false}}})
                    .tablesorterPager({container: $("#pager")});
        });
    </script>
{% endblock %}
