{% extends "linecommand/base1.html" %}

{% block navbar %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'createclient' %}">Create Client</a></li>
    <li class="active"><a href="#">Import Numbers</a></li>    
  </ul>
{% endblock %}

{% block section %}
<section id="importnumbers" style="margin-top:-25px;">
    <div class="page-header">
      <h3>Import Numbers</h3>
    </div>
    <div class="row-fluid">
      <div class="span9 offset1 well well-small">
        <form class="form-horizontal" action="{% url 'import_numbers' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
          {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}
          <div class="control-group">
            <div class="controls">
              <input class="btn btn-primary btn-small fa-input" type="submit" onclick="this.disabled=true,this.form.submit();" name="import" value="Import" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
