{% extends "linecommand/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'linecommand/js/quickTree.css' %}" media="all"> 
	<script type="text/javascript" language="javascript" src="{% static 'linecommand/js/jquery-1.6.1.js' %}" ></script>
      <script src="{% static 'linecommand/js/jquery.quickTree.js' %}"></script> 
	<script type="text/javascript">
	    $(document).ready(function () {
	        $('ul.quickTree').quickTree();
	    });	

	</script>
{% endblock %}
{% block title %}
<a class="brand" href="#"> - General Administration</a>
{% endblock %}

{% block content %}
<div class="container">
      <div class="container">
        <div>
          <A HREF="{% url 'createclient' %}" class="btn btn-default">Create Client</A>
{% comment %}
          <A HREF="{% url 'modify' %}" class="btn btn-default">Modify Client</A>
          <A HREF="{% url 'deposit' %}" class="btn btn-default">Deposit Fund</A>
          <A HREF="{% url 'numbers' %}" class="btn btn-default">Add Numbers</A>
{% endcomment %}
        </div>

        <div><br><br><br></div>

      </div> 

<div class="container">
<ul class="quickTree" style="background-color:ThreeDLighShadow">
{%for node in master %} 
    {%include "linecommand/treeview.html" %}
{%endfor%}
</ul>
</div> <!-- /container -->
{% endblock %}

