{% extends "linecommand/base1.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'linecommand/js/quickTree.css' %}" media="all">
    <link href="{% static 'linecommand/css/page-load.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <ul class="nav nav-pills">
        <li class="active"><a href="#home">Home</a></li>
        <li><a href="{% url 'client_main' master.id %}">Dashboard</a></li>
        <li><a href="{% url 'createclient' %}">Create Client</a></li>
        <li><a href="{% url 'paypal' master.id %}">Fund Account</a></li>
        <li><a href="{% url 'client_funding' master.id %}">Funding History</a></li>
        <li><a href="{% url 'client_settings' master.id %}">Settings</a></li>
        {% if user.is_superuser %}
            <li><a href="{% url 'import_numbers' %}">Import Numbers</a></li>{% endif %}
    </ul>
{% endblock %}

{% block section %}
    <section id="home" style="margin-top:-25px;">
        <div class="row-fluid">
            <div class="span9 offset1 well well-small" style="padding:0 0 0 20px;">
                <h5><strong>Current Balance</strong> &#36;{% if balance == None %}0.00{% else %}
                    {{ balance|floatformat:2 }}{% endif %}</h5>
                <h5>Numbers Associated are {{ numbers|length }}</h5>
                <h5><b>Buy Numbers for</b></h5>
                {% with buy=False client=master template_name="linecommand/showprice.html" %}
                    {% include template_name %}
                {% endwith %}
                {% if user.is_superuser %}
                    <h5><strong>Monthly Purchase Stats</strong> ({{ stats_month }})</h5>
                    {% with stats=purchased_numbers loop_times=loop_times template_name="linecommand/showstats.html" %}
                        {% include template_name %}
                    {% endwith %}
                {% endif %}
            </div>
        </div>
        <div id="loading-div-background">
            <div id="loading-div" class="ui-corner-all">
                <img src="{% static 'linecommand/images/bars.gif' %}" alt="Loading..."/>
            </div>
        </div>
        <ul id="node_list" class="quickTree">
        </ul>
    </section>
{% endblock %}

{% block scripting %}
    <script src="{% static 'linecommand/js/jquery.quickTree.js' %}"></script>
    <script type="text/javascript">
        function showProgress() {
            $("#loading-div-background").show();
        }
        function hideProgress() {
            $("#loading-div-background").hide();
        }
        showProgress();
        $.ajax({
            url: "/list/",
            cache: false,
            success: function (html) {
                $("#node_list").html(html);
                $('ul.quickTree').quickTree();
                hideProgress();
            }
        });
    </script>
{% endblock %}
