{% extends "linecommand/base.html" %}

{% block section %}
    <section>
        <div class="page-header">
            <h3>Login</h3>
        </div>

        {% if form.errors %}
        <div class="row-fluid">
            <div class="span9 offset1">
                <div class="alert alert-dismissable alert-error">
                    <p>Your username and password didn't match. Please try again.</p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'django.contrib.auth.views.login' %}" method="post">
                    {% csrf_token %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="control-group{% if field.errors %} error{% endif %}">
                            <label class="control-label"><strong>{{ field.label }}</strong></label>

                            <div class="controls">
                                {{ field }}
                                <span class="help-inline">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary btn-small fa-input" type="submit"
                                   onclick="this.disabled=true,this.form.submit();" name="Login" value="Login"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <a href="{% url 'password_reset' %}">Cannot access your account?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock %}
