{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Numbers Management</title>
	<link href="{% static 'linecommand/bootstrap-detail.min.css' %}" rel="stylesheet">
	<link href="{% static 'linecommand/bootstrap-detail.css' %}" rel="stylesheet">
	<link href="{% static 'linecommand/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'linecommand/bootstrap-responsive.min.css' %}" rel="stylesheet">
	<style type="text/css">
	</style>
	<script type="text/javascript">
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-146052-10']);
  		_gaq.push(['_trackPageview']);
  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
  </head>
  <body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">
  	<div class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class="container">
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                </a>
  				<a href="#" class="brand">Numbers Management</a>
                                <div class="nav-collapse pull-right">
  					<ul class="nav">
                        			<li class="dropdown">
  							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Signed in as {{ user }} <b 
class="caret"></b></a>
  							<ul class="dropdown-menu">
                                                                <li><a data-toggle="modal" href="#update_username">Change Username</a></li>
  								<li><a data-toggle="modal" href="#update_password">Change Password</a></li>
  								<li class="divider"></li>
  								<li><a href="{% url 'logout' %}">Logout</a></li>
  							</ul>
  						</li>
  					</ul>
  				</div>
                	</div>
  		</div>
	</div><!--./navbar-->
  	
  	<div class="container">
                <div id="update_username" class="modal hide fade in" data-dismiss="modal" style="display: none; ">
                                                  <div class="modal-header">
                                                    <a class="close" data-dismiss="modal">x</a>
                                                    <h4>Change Username</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                  <form class="form-horizontal" action="{% url 'detail' client.id %}" method="post">{% csrf_token %}
                                                    {% for field in change_user_form.visible_fields %}
                                                      <div class="control-group">
                                                        <label class="control-label">{{ field.label }}</label>
                                                        <div class="controls">{{ field }}</div>
                                                      </div>
                                                    {% endfor %}
                                                 </div>
                                                 <div class="modal-footer">
                                                   <input type="submit" name="update_username" value="Update" class="btn btn-success"/>
                                                   <a href="#" class="btn" data-dismiss="modal">Close</a>
                                                 </div>
                                                 </form>
                 </div>
                <div id="update_password" class="modal hide fade in" data-dismiss="modal" style="display: none; ">
                                                  <div class="modal-header">
                                                    <a class="close" data-dismiss="modal">x</a>
                                                    <h4>Change Password</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                  <form class="form-horizontal" action="{% url 'detail' client.id %}" method="post">{% csrf_token %}
                                                    {% for field in change_password_form.visible_fields %}
                                                      <div class="control-group">
                                                        <label class="control-label">{{ field.label }}</label>
                                                        <div class="controls">{{ field }}</div>
                                                        <div class="controls">{{field.errors}}</div>
                                                      </div>
                                                    {% endfor %}
                                                 </div>
                                                 <div class="modal-footer">
                                                   <input type="submit" name="update_password" value="Update" class="btn btn-success"/>
                                                   <a href="#" class="btn" data-dismiss="modal">Close</a>
                                                 </div>
                                                 </form>
                 </div>
  		<header class="jumbotron" id="overview" style="margin-top:-45px;">
	  		<div class="row">
	  			<div class="span6">
	  				<h3>Hi! {{ client.user }}</h3>
	  			</div>
	  		</div>
                </header>
			<div class="subnav" style="margin-bottom:50px;">
				<ul class="nav nav-pills">
				    <li><a href="#dashboard">Dashboard</a></li>
					<li><a href="#addbalance">Add Balance</a></li>
					<li><a href="#buynumbers">Buy Numbers</a></li>
					<li><a href="#createclient">Create Client</a></li>
				</ul>
                        </div>
  		<section id="dashboard" style="margin-top:-25px;">
  			<div class="page-header">
  				<h3>Dashboard</h3>
  			</div>
                        <div class="row-fluid">
	  			<div class="span9 offset1 well well-small" style="padding:0 0 0 20px;">
	  				<h5><strong>Current Balance</strong> {{balance}}</h5>
                                        <h5>Numbers Associated are {{ numbers|length }}</h5>
                                        <h5>Buy Numbers <b>@ rate of {{client.price}}</b></h5>
	  			</div>
	  		</div>
	  		<div class="row-fluid">
	  			<div class="span9 offset1">
	  				{# <h4><strong>Numbers</strong></h4> #}
					{% if numbers %}
                                            <form class="form-horizontal" action="{% url 'detail' client.id %}" method="post">{% csrf_token %}
						<table class="table table-striped table-bordered table-condensed">
							<thead><TR><th><input type="checkbox" id="selectall"></th><th width=200>Date 
Purchased</th><th WIDTH=200>Number</th><th width="200">Date Expiry<th width=200>Forward Type</th><th WIDTH=300>Forward Data</th></TR></thead>
                                                        <tbody>
							{% for item in numbers %}
								<tr>
                                                                        <td><input type="checkbox" name="update_id" class="update_id" value="{{item.id}}" style="vertical-align:top;"></td>
									<td>{{ item.date_purchased }}</td>
                                                                        <td>{{ item.number }}</td>
									<td>{{ item.date_expiry }}</td>
                                                                        <td>{{ item.forward_type }}</td>
									<td>{{ item.forward_data }}</td>
								</tr>
							{% endfor %}
                                                        </tbody>
						</table>
                                                <a data-toggle="modal" href="#update" class="btn btn-primary btn-small">Change Forwarding 
Information on Selected Numbers</a>
                                                <div id="update" class="modal hide fade in" data-dismiss="modal" style="display: none; ">
                                                  <div class="modal-header">
                                                    <a class="close" data-dismiss="modal">x</a>
                                                    <h4>Update Numbers</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    {% for field in update_number_form.visible_fields %}
                                                      <div class="control-group">
                                                        <label class="control-label">{{ field.label }}</label>
                                                        <div class="controls"> {{ field }}</div>
                                                      </div>
                                                    {% endfor %}       
                                                 </div>
                                                 <div class="modal-footer">
                                                   <input type="submit" name="update_numbers" value="Update" class="btn 
btn-success"/>
                                                   <a href="#" class="btn" data-dismiss="modal">Close</a>
                                                 </div>
                                               </div>
                                            </form>
					{% else %}
						<i>There is no number associated yet.</i>
						<a class="btn btn-primary btn-small" href="#buynumbers">Buy Numbers</a>
					{% endif %}
	  			</div>
	  		</div>
	  	</section>
            {% if not user == client.user %}
	  	<section id="addbalance" style="margin-top:-25px;">
	  		<div class="page-header">
  				<h3>Add Balance</h3>
  			</div>
	  		<div class="row-fluid">
	  			<div class="span9 offset1 well well-small">
	  				<form class="form-horizontal" action="{% url 'detail' client.id %}" method="post">{% csrf_token %}
                                                {% for field in balance_form.hidden_fields %}
                                                    {{ field }}
                                                {% endfor %}
	                                        {% for field in balance_form.visible_fields %}
        	                                <div class="control-group{% if field.errors %} error{% endif %}">
                	                                <label class="control-label"><strong>{{ field.label }}</strong></label>
                        	                        <div class="controls">
                                	                        {{ field }}
								<span class="help-inline">{{ field.errors }}</span>
                                        	        </div>
                	                        </div>
                        	                {% endfor %}
                                	        <div class="control-group">
                                        	        <div class="controls">
                                                	        <input class="btn btn-primary btn-small fa-input" type="submit" name="add_balance" 
value="Deposit" />
                                                        	<input type="hidden" name="next" value="{{ next }}" />
	                                                </div>
        	                                </div>
                	                </form>
	  			</div>
	  		</div>
  		</section>
            {% endif %}
		<section id="buynumbers" style="margin-top:-25px;">
			 <div class="page-header">
                                <h3>Purchase Numbers</h3>
                        </div>
			<div class="row-fluid">
                                <div class="span4 offset1">
                                    <div class="alert alert-info">
                                        <strong>Info:</strong> Total Numbers available are <strong>{{ total_numbers }}</strong>
                                    </div>
                                    {% if numbers_errors %}
                                        <div class="alert alert-error">
                                            {% for err in numbers_errors %}
                                                {{ err }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                         </div>
                         <div class="row-fluid">
				<div class="span9 offset1 well well-small">
					<form class="form-horizontal" action="{% url 'detail' client.id %}" method="post">{% csrf_token %}
                                                {% for field in number_form.hidden_fields %}
                                                    {{ field }}
                                                {% endfor %}
						{% for field in number_form.visible_fields %}
							<div class="control-group{% if field.errors %} error{% endif %}">
                                        	                <label class="control-label"><strong>{{ field.label }}</strong></label>
                                	                        <div class="controls">
                        	                                        {{ field }}
                	                                                <span class="help-inline">{{ field.errors }}</span>
        	                                                </div>
	                                                </div>
						{% endfor %}
						<div class="control-group">
                                                        <div class="controls">
                                                                <input class="btn btn-primary btn-small fa-input" type="submit" name="buy_numbers" 
value="Submit" />
                                                                <input type="hidden" name="next" value="{{ next }}" />
                                                        </div>
                                                </div>
					</form>
				</div>
			</div>
		</section>
                <section id="createclient" style="margin-top:-25px;">
                         <div class="page-header">
                                <h3>Create Client</h3>
                        </div>
                        <div class="row-fluid">
                            <div class="span9 offset1 well well-small">
                                        <form class="form-horizontal" action="{% url 'detail' client.id %}" method="post">{% csrf_token %}
                                                {% for field in client_form.hidden_fields %}
                                                    {{ field }}
                                                {% endfor %}
                                                {% for field in client_form.visible_fields %}
                                                        <div class="control-group{% if field.errors %} error{% endif %}">
                                                                <label class="control-label"><strong>{{ field.label }}</strong></label>
                                                                <div class="controls">
                                                                        {{ field }}
                                                                        <span class="help-inline">{{ field.errors }}</span>
                                                                </div>
                                                        </div>
                                                {% endfor %}
                                                <div class="control-group">
                                                        <div class="controls">
                                                                <input class="btn btn-primary btn-small fa-input" type="submit" 
name="create_client" value="Create" />
                                                                <input type="hidden" name="next" value="{{ next }}" />
                                                        </div>
                                                </div>
                                        </form>
                                </div>
                            </div>
                      </section>
  	</div>
  	<script type="text/javascript" src="{% static 'linecommand/js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'linecommand/js/bootstrap-dropdown.js' %}"></script>
        <script type="text/javascript" src="{% static 'linecommand/js/bootstrap-modal.js' %}"></script>
	<script type="text/javascript" src="{% static 'linecommand/js/jquery.smooth-scroll.min.js' %}"></script>
  	<script type="text/javascript">  
        $(document).ready(function () {  
            $('.dropdown-toggle').dropdown();  
        }); 
        $(document).scroll(function(){
    		// If has not activated (has no attribute "data-top"
    		if (!$('.subnav').attr('data-top')) {
	        	// If already fixed, then do nothing
    	    	if ($('.subnav').hasClass('subnav-fixed')) return;
        		// Remember top position
        		var offset = $('.subnav').offset()
        		$('.subnav').attr('data-top', offset.top);
    		}

    		if ($('.subnav').attr('data-top') - $('.subnav').outerHeight() <= $(this).scrollTop())
        		$('.subnav').addClass('subnav-fixed');
    		else
        		$('.subnav').removeClass('subnav-fixed');
		});
        $(document).ready(function () {
            $('#selectall').click(function () {
                $('.update_id').prop('checked', isChecked('selectall'));
            });
        });
        function isChecked(checkboxId) {
            var id = '#' + checkboxId;
            return $(id).is(":checked");
        }
   </script>
  </body>
</html>
