{% extends "linecommand/base2.html" %}

{% block navbar %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'client_main' client.id %}">Dashboard</a></li>
    {# <li><a href="#addbalance">Add Balance</a></li> #}
    <li class="active"><a href="#buygeo">Buy Geo Numbers</a></li>
    <li><a href="{% url 'client_create' client.id %}">Create Client</a></li>
    <li><a href="{% url 'client_editCode' client.id %}">Edit HTML</a></li>
  </ul>
{% endblock %}

{% block section %}
  <section id="buygeo" style="margin-top:-25px;">
    <div class="page-header">
      <h3>Purchase Geo Numbers</h3>
    </div>
    <div class="row-fluid">
      <div class="span9 offset1">
        <div class="alert alert-error">
          <p>System is under maintenance, please check back shortly.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
