{% extends "linecommand/base1.html" %}

{% block navbar %}
  <ul class="nav nav-pills">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'createclient' %}">Create Client</a></li>
    <li class="active"><a href="#">Modify Client</a></li>
  </ul>
{% endblock %}

{% block section %}
  <section id="createclient" style="margin-top:-25px;">
    <div class="page-header">
      <h3>Modify Price</h3>
    </div>
    <div class="row-fluid">
      <div class="span9 offset1 well well-small">
        <h5>Current Price for:</h5>
        <h5 style="margin-left:20px"><b>30 day random is {{client.landline_30}}</b></h5>
        <h5 style="margin-left:20px"><b>60 day random is {{client.landline_60}}</b></h5>
        <h5 style="margin-left:20px"><b>90 day random is {{client.landline_90}}</b></h5>
        <h5 style="margin-left:20px"><b>30 day geo number is {{client.geo_landline_30}}</b></h5>
        <h5 style="margin-left:20px"><b>90 day geo number is {{client.geo_landline_90}}</b></h5>
        <form class="form-horizontal" action="{% url 'modify' client.id %}" method="post">{% csrf_token %}
          {% for field in price_form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in price_form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}
          <div class="control-group">
            <div class="controls">
              <input class="btn btn-primary btn-small fa-input" type="submit" name="change_price" value="Update" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="createclient" style="margin-top:-25px;">
    <div class="page-header">
      <h3>Change Username</h3>
    </div>
    <div class="row-fluid">
      <div class="span9 offset1 well well-small">
        <form class="form-horizontal" action="{% url 'modify' client.id %}" method="post">{% csrf_token %}
          {% for field in username_form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in username_form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}
          <div class="control-group">
            <div class="controls">
              <input class="btn btn-primary btn-small fa-input" type="submit" name="change_username" value="Update" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="createclient" style="margin-top:-25px;">
    <div class="page-header">
      <h3>Change Password</h3>
    </div>
    <div class="row-fluid">
      <div class="span9 offset1 well well-small">
        <form class="form-horizontal" action="{% url 'modify' client.id %}" method="post">{% csrf_token %}
          {% for field in password_form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in password_form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}
          <div class="control-group">
            <div class="controls">
              <input class="btn btn-primary btn-small fa-input" type="submit" name="change_password" value="Update" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}
