<ul class="nav nav-pills">
    {% block dashboard %}
        <li><a href="{% url 'client_main' client.id %}">Dashboard</a></li>{% endblock %}
    {% block buynums %}
        <li><a href="{% url 'client_numbers' client.id %}">Buy Numbers</a></li>{% endblock %}
    {% block create %}
        <li><a href="{% url 'client_create' client.id %}">Create Client</a></li>{% endblock %}
    {% block funding %}
        <li><a href="{% url 'paypal' client.id %}">Fund Account</a></li>{% endblock %}
    {% block settings %}
        <li><a href="{% url 'client_settings' client.id %}">Settings</a></li>{% endblock %}
    {% block edit %}
        <li><a href="{% url 'client_editCode' client.id %}">Edit HTML</a></li>{% endblock %}
</ul>
