{% extends "linecommand/base1.html" %}

{% block navbar %}
    <ul class="nav nav-pills">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'createclient' %}">Create Client</a></li>
        <li class="active"><a href="#">Purchase Numbers</a></li>
    </ul>
{% endblock %}

{% block section %}
    <section id="buynumbers" style="margin-top:-25px;">
        <div class="page-header">
            <h3>Purchase Numbers</h3>
        </div>
        {% if errors %}
            <div class="row-fluid">
                <div class="span4 offset1">
                    <div class="alert alert-error">
                    <ul>
                        {% for err in errors %}
                            <li>{{ err }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'client_numbers' client.id %}"
                      method="post">{% csrf_token %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="control-group{% if field.errors %} error{% endif %}">
                            <label class="control-label"><strong>{{ field.label }}</strong></label>

                            <div class="controls">
                                {{ field }}
                                <span class="help-inline">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary btn-small fa-input" type="submit" name="buy_numbers"
                                   value="Submit"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="shownumbers">
        {% if numbers %}
            <div class="row-fluid">
                <div class="span9 offset1">
                    <table class="table table-striped table-condensed">
                        <TR>
                            <TD width=200><b>Date Purchased</TD>
                            <TD WIDTH=200><b>Number</TD>
                            <TD WIDTH=300><b>Forward Data</TD>
                        </TR>
                        {% for item in numbers %}
                            <tr>
                                <td>{{ item.date_purchased }}</td>
                                <td>{{ item.number }}</td>
                                <td>{{ item.forward_data }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="pagination">
        <span class="step-links">
          {% if numbers.has_previous %}
              <a href="?page={{ numbers.previous_page_number }}">previous</a>
          {% endif %}
            <span class="current">
              Page {{ numbers.number }} of {{ numbers.paginator.num_pages }}.
            </span>
            {% if numbers.has_next %}
                <a href="?page={{ numbers.next_page_number }}">next</a>
            {% endif %}
        </span>
                    </div>
                </div>
            </div>
        {% else %}
            <i>There is no number associated with client</i>
        {% endif %}
    </section>
{% endblock %}

