{% extends "linecommand/reset_base.html" %}

{% block title %}Password reset successful{% endblock title %}

{% block section %}
<div class="page-header">
  <h3>Reset Password</h3>
</div>
<div class="row-fluid">
  <div class="span9 offset1">
    <p>We've e-mailed you instructions for setting 
       your password to the e-mail address you submitted.</p>
    <p>You should be receiving it shortly.</p>
  </div>
</div>
{% endblock %}
