{% extends "linecommand/reset_base.html" %}

{% block title %}Password reset complete{% endblock title %}

{% block section %}
<div class="page-header">
 <h3>Reset Complete</h3>
</div>
<div class="span9 offset1">
  <p>Your password has been set. 
   You may go ahead and log in now.</p>
  <a href="/login/">Log in</a>
</div>
{% endblock %}
