{% extends "linecommand/reset_base.html" %}

{% block title %}Forgot Password{% endblock title %}

{% block section %}
<div class="page-header">
  <h3>Forgot Password</h3>
</div>
<div class="row-fluid">
  <div class="span9 offset1 well well-small">
    <form class="form-horizontal" method="post" action="{% url 'password_reset' %}">
      {% csrf_token %}
      <p>Please enter your email address. 
        You will receive a link to create a new password via email.</p>
                    
      {% for field in form.hidden_fields %}
            {{ field }}
          {% endfor %}
          {% for field in form.visible_fields %}
            <div class="control-group{% if field.errors %} error{% endif %}">
              <label class="control-label"><strong>{{ field.label }}</strong></label>
              <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
              </div>
            </div>
          {% endfor %}
      <div class="control-group">
            <div class="controls">
              <button class="btn btn-primary btn-small" type="submit">Reset Password</button>
            </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
