<form id='form_fund' class="form-horizontal" action="{% url 'paypal' client.id %}"
      method="post" data-ajax="false">{% csrf_token %}
    {% for field in fund_form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% for field in fund_form.visible_fields %}
        <div class="control-group{% if field.errors %} error{% endif %}">
            <label class="control-label"><strong>{{ field.label }}</strong></label>

            <div class="controls">
                {{ field }}
                <span class="help-inline">{{ field.errors }}</span>
            </div>
        </div>
    {% endfor %}
    <div class="control-group">
        <div class="controls">
{#            <button id="submit_form" type="button" onclick="sendform();"#}
{#                    name="Submit" class="btn btn-primary btn-small fa-input">#}
{#                Submit#}
{#            </button>#}
            <input class="btn btn-primary btn-small fa-input" type="button" name="submit"
                                   onclick="sendform();" value="Submit"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </div>
    </div>
</form>