{% extends "linecommand/base2.html" %}
{% load static %}

{% block css %}
    <link href="{% static 'linecommand/css/page-load.css' %}" rel="stylesheet">
{% endblock %}

{% block head %}
<script type="text/javascript">
    function showProgress() {
            $("#loading-div-background").show();
    }
    function hideProgress() {
        $("#loading-div-background").hide();
    }
    function manualsubmit() {
        $("#form_fund").submit(function (event) {
            event.preventDefault();
            sendform();
            return false;
        });
    }
    function sendform () {
        showProgress();
        var frm = $('#form_fund');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            cache: false,
            success: function (data) {
                $("#paypal_div").html(data);
                manualsubmit();
            }
        });
        hideProgress();
    }
</script>
{% endblock %}

{% block funding %}
    <li class="active"><a href="#buy_credits">Fund Account</a></li>
{% endblock %}

{% block section %}
    <section id="buy_credits">
        <div class="page-header">
            <h3>Fund Account</h3>
        </div>
        <div class="row-fluid">
            {% if client.is_paypal_active %}
            <div id="paypal_div" class="span9 offset1 well well-small">
                {% include 'linecommand/paypal_form.html' %}
            </div>
            {% else %}
            <h5>Paypal is not enabled for you right now. Please contact your admin.</h5>
            {% endif %}
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small" style="padding:0 0 0 20px;">
                <h5><b>Buy Numbers for</b></h5>
                {% with buy=False template_name="linecommand/showprice.html" %}
                    {% include template_name %}
                {% endwith %}
            </div>
        </div>
        <div id="loading-div-background">
            <div id="loading-div" class="ui-corner-all">
                <img src="{% static 'linecommand/images/bars.gif' %}" alt="Loading..."/>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripting %}
<script type="text/javascript">
$(document).ready(function() {
    manualsubmit();
});
</script>
{% endblock %}