{% extends "linecommand/base2.html" %}

{#{% block settings %}#}
{#    <li class="active"><a href="#settings">Personal Settings</a></li>#}
{#{% endblock %}#}

{% block management %}active{% endblock %}

{%  block section %}
    <section id="paypal_api">
        <div class="page-header">
            <h3>Change PayPal Email</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'client_settings' client.id %}" method="post">
                    {% csrf_token %}
                    {% for field in paypal_form.hidden_fields %}
                        <div class="control-group">

                            {{ field }}
                        </div>
                    {% endfor %}
                    {% for field in paypal_form.visible_fields %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>

                        <div class="controls">
                            {{ field }}
                            <span class="help-inline">{{ field.errors }}</span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" name="update_paypal"
                                   value="Update" class="btn btn-primary btn-small fa-input"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="username">
        <div class="page-header">
            <h3>Change Username</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'client_settings' client.id %}" method="post">
                    {% csrf_token %}
                    {% for field in change_user_form.visible_fields %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>

                        <div class="controls">{{ field }}</div>
                    </div>
                {% endfor %}
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" name="update_username"
                               value="Update" class="btn btn-primary btn-small fa-input"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>
    <section id="password">
        <div class="page-header">
            <h3>Change Password</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'client_settings' client.id %}" method="post">
                    {% csrf_token %}
                    {% for field in change_password_form.visible_fields %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>

                        <div class="controls">{{ field }}</div>
                        <div class="controls">{{ field.errors }}</div>
                    </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" name="update_password"
                                   value="Update" class="btn btn-primary btn-small fa-input"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="editcode" style="margin-top:-25px;">
        <div class="page-header">
            <h3>Edit HTML Code</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                <form class="form-horizontal" action="{% url 'client_settings' client.id %}"
                      method="post">{% csrf_token %}
                    {% for field in html_form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in html_form.visible_fields %}
                        <div class="control-group{% if field.errors %} error{% endif %}">
                            <label class="control-label"><strong>{{ field.label }}</strong></label>

                            <div class="controls">
                                {{ field }}
                                <span class="help-inline">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary btn-small fa-input" type="submit" name="html_code"
                                   value="Submit"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}