{% extends "linecommand/base.html" %}

{% block title %}
<a class="brand" href="#"> - Numbers</a>
{% endblock %}

{% block content %}
<div class="container">
<br><br><br>
<div>
  {% if numbers %}
  <table>
  <TR><TD width=200><b>Date Purchased</TD><TD WIDTH=200><b>Number</TD><TD WIDTH=300><b>Forward Data</TD></TR>
  {% for item in numbers %}
    <tr>
      <td>{{ item.date_purchased }}</td>
      <td>{{ item.number }}</td>
      <td>{{ item.forward_data }}</td>
    </tr>
  {% endfor %}
  </table>
<div class="pagination">
    <span class="step-links">
        {% if numbers.has_previous %}
            <a href="?page={{ numbers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ numbers.number }} of {{ numbers.paginator.num_pages }}.
        </span>

        {% if numbers.has_next %}
            <a href="?page={{ numbers.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% else %}
<i>There is no number associated with client</i>
{% endif %}
</div> 

</div>
{% endblock %}
