<table class="table table-condensed" style="width:80%;margin-left:30px;">
    <thead>
    <th>Category</th>
    <th>&#36;/Number</th>
    </thead>
    <tbody>
    <tr>
        <td>30 Days Random (Instant Delivery)</td>
        <td>&#36;{{ client.landline_30|floatformat:2 }}</td>
        <td>
            {% if buy %}
                <a class="btn btn-primary btn-small" href="{% url 'client_randnumbers' client.id %}?type=rand30">
                Generate Numbers
                </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>60 Days Random (Instant Delivery)</td>
        <td>&#36;{{ client.landline_60|floatformat:2 }}</td>
        <td>
            {% if buy %}
                <a class="btn btn-primary btn-small" href="{% url 'client_randnumbers' client.id %}?type=rand60">
                Generate Numbers
                </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>90 Days Random (Instant Delivery)</td>
        <td>&#36;{{ client.landline_90|floatformat:2 }}</td>
        <td>
            {% if buy %}
                <a class="btn btn-primary btn-small" href="{% url 'client_randnumbers'  client.id %}?type=rand90">
                Generate Numbers
                </a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Geo Targeted 30 Days (Instant Delivery)</td>
        <td>&#36;{{ client.geo_landline_30|floatformat:2 }}</td>
        <td>
            {% if buy %}

                <a class="btn btn-primary btn-small" href="{% url 'client_geonumbers'  client.id %}">Generate Numbers</a>

            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Geo Targeted 90 Days (Instant Delivery)</td>
        <td>&#36;{{ client.geo_landline_90|floatformat:2 }}</td>
        <td>
            {% if buy %}

                <a class="btn btn-primary btn-small" href="{% url 'client_geonumbers'  client.id %}">Generate Numbers</a>

            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Temporary Numbers 7-Day (Won't Work on CL)</td>
        <td>&#36;{{ client.noncl_landline|floatformat:2 }}</td>
        <td>
            {% if buy %}

                <a class="btn btn-primary btn-small" href="{% url 'client_buynoncl'  client.id %}">Generate Numbers</a>

            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Percentage discount on renewels on all prices</td>
        <td>{{ client.percentage_discount|floatformat:2 }}&#37;</td>
        <td>
        </td>
    </tr>
    {% comment %}
    <tr>
      <td>Geo targeted 90 Day Number 10pack (Instant Delivery)</td>
      <td>&#36;{{ client.geo_10pack_instant|floatformat:2 }}</td>
      <td>
        {% if buy %}
          <a class="btn btn-primary btn-small" href="#">Buy Numbers</a>
        {% endif %}
      </td>
    </tr>
{% endcomment %}
    </tbody>
</table>
