<table class="table table-condensed" style="width:30%;margin-left:30px;">
    <thead>
    <th>Category</th>
    <th>Number Count</th>
    </thead>
    <tbody>
    {% for elem in stats %}
        {% if elem.duration == 30 or elem.duration == 60 or elem.duration == 90 %}
        <tr>
            <td>{{ elem.duration }} Days Random</td>
            <td>{{ elem.count }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
