{% extends "linecommand/base.html" %}
{% load static %}

{% block section %}
<section>
    <div class="page-header">
            <h3>Sign Up</h3>
    </div>
    <div class="row-fluid">
            <div class="span9 offset1">
                <form class="form-horizontal" action="{% if not referal %}{% url 'signup' %}{% endif %}" method="post">
                    {% csrf_token %}
                    {% for field in signUpForm.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in signUpForm.visible_fields %}
                        <div class="control-group{% if field.errors %} error{% endif %}">
                            <label class="control-label"><strong>{{ field.label }}</strong></label>

                            <div class="controls">
                                {{ field }}
                                <span class="help-inline">{{ field.errors }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-primary btn-small fa-input" type="submit"
                                   onclick="this.disabled=true,this.form.submit();" name="SignUp" value="SignUp"/>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}