{% extends "linecommand/base.html" %}

{% block section %}
    <section>
        <div class="page-header">
            <h3>Purchase Stats</h3>
        </div>
        <div class="row-fluid">
            <div class="span9 offset1 well well-small" style="padding:0 0 0 20px;">
                <h5><strong>Monthly Purchase Stats</strong> (January)</h5>
                <table class="table table-condensed" style="width:30%;margin-left:30px;">
                    <thead>
                    <th>Category</th>
                    <th>Number Count</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7 Days Random</td>
                            <td>107</td>
                        </tr>
                        <tr>
                            <td>30 Days Random</td>
                            <td>1880</td>
                        </tr>
                        <tr>
                            <td>60 Days Random</td>
                            <td>366</td>
                        </tr>
                        <tr>
                            <td>90 Days Random</td>
                            <td>3160</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}
