<li>
    {# {% if node.is_leaf_node %} #}
    <a href="{% url 'client_main' node.id %}">{{ node.user }}</a>{% if node.is_active_client %} (inactive){% endif %}
    {# {% else %} #}
    {# {{node.user}} #}
    {# {% endif %} #}
    <em> | </em>
    <a href="{% url 'modify' node.id %}">Modify Client</a>
    <em> | </em>
    <a href="{% url 'deposit' node.id %}">Add Balance</a>
    <em> | </em>
    <a href="{% url 'numbers' node.id %}">Purchase Numbers</a>
    {% if not node.is_leaf_node %}
        <ul>
            {% for ch in node.get_children.order_by %}
                {% with node=ch template_name="linecommand/treeview.html" %}
                    {% include template_name %}
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
</li>

