{% extends "linecommand/base2.html" %}

{#{% block video_tutorial %}#}
{#    <li class="active"><a href="#tutorial">Support</a></li>#}
{#{% endblock %}#}

{% block management %}active{% endblock %}

{% block section %}
    <section id="tutorial">
        <div class="page-header">
            <h3>How to use Linecommand</h3>
        </div>
        {% if custom_html %}
        <div class="row-fluid">
            <div class="span9 offset1 well well-small">
                {{ custom_html|safe }}
            </div>
        </div>
        {% endif %}
        <div class="row-fluid">
            <div class="span9 offset1">
                <h5>Generate Numbers and Forwarding Options</h5>
                <iframe width="640" height="480"
                        src="//www.youtube.com/embed/1vJxufAle1s?rel=0" frameborder="0"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        <br>
        <br>
        <div class="row-fluid">
            <div class="span9 offset1">
                <h5>Create Clients under your Linecommand ID.</h5>
                <iframe width="640" height="480"
                        src="//www.youtube.com/embed/2nHB-cp6MWo?rel=0"
                        frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>

{% endblock %}